.app {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

.finish {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.msg {
  font-size: 30px;
  font-family: cursive;
}
.finish button {
  display: block;
  margin: auto;
}
.view-liked-button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.view-liked-button:hover {
  background-color: #ff9900;
}
